.page-header .title {
  font-weight: 700;
font-size: 25px;
  text-align: center;
  font-family: 'Lato', normal, sans-serif; }


.sidebar {
  display: block;
 margin-bottom: 10px; }
  .sidebar.small .nav .nav-link {
    font-size: 16px; }
  .sidebar .nav {
 justify-content: stretch;
    flex-direction: row !important; }
 .sidebar .nav .nav-item {
      padding: 0 10px; }
    .sidebar .nav .nav-link {
 color: #000000;
      font-size: 20px;
      justify-content: stretch;
font-weight: 700;
      border-bottom: 4px solid transparent;
      font-family: 'Karla', normal;
